@import '../theme/constants';


.caseStudies {
  .accordionItem {
    border-bottom: 1px solid black;
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 80px min-content;
    overflow: hidden;

    div:nth-child(3) {
      justify-self: flex-end;
    }

    h4 {
      white-space: nowrap;
    }

    div:nth-child(5) {
      grid-column: 1 / 4;
      display: inline-grid;
      gap: $container-padding;
      grid-template-columns: auto auto;

      p:nth-of-type(2) {
        max-width: 65ch;
        justify-self: self-end;
      }
    }
  }

  .services {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    em {
      text-transform: capitalize;
      background-color: $font-color--dark;
      padding: 0.25rem 0.5rem;
      border-radius: 4px;
    }
  }
}