@import '../theme';

nav{
  max-width: $content-width--max;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  height: 100px;
  > div {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    @extend %header;
  }

  position: sticky;
  top: 0;
}